body {
    font-family: "Silkscreen", sans-serif;
    font-weight: 1.4em;
    font-style: normal;
    color: #ffffff;
    line-height: 1.5em;
    background: #8586BB;
    margin: auto;
}

header {
    text-align: center;
    padding-top: 10%;
}

header p {
    text-align: left;
}

header img {
    max-width: 90%;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    border: 0.5em solid #ffffff;
    margin: 5%;
    padding: 5%;
    background-color: #7478B9;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main img {
    margin-bottom: 8%;
    padding-left: 1%;
    padding-right: 1%;
}

#score {
    display: flex;
    flex-direction: row;
}

#score img {
    max-width: 60%;
    height: auto;
}

#game {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
}

#game img {
    max-width: 20%;
    height: auto;
}

#gamecontrol {
    padding-top: 8%;
    margin-top: 2%;
    border-top: 0.4em solid #8586BB;

}

#actions {
    padding-top: 8%;
}

button { 
    text-decoration: none;
    border: none;
    margin-bottom: 2%;
    padding: 2%;
    color: #ffffff;
    background-image: url(images/buttonbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 1.4em;
    background-color: #7478B9;
}

button:hover {
    background-image: url(images/buttonhoverbg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

@media only screen and (min-width: 600px) {

    body {
        padding: 50px;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 
        "A A A B B B B B"
        "A A A B B B B B"
        "A A A B B B B B"
        "A A A B B B B B";
    }

    header {
        grid-area: A;
        padding-top: 50%;
    }

    header img {
        max-width: 75%;
        height: auto;
    }

    main {
        grid-area: B;
        margin: 5%;
    }

    #score img {
        max-width: 40%;
        height: auto;
    }

    #game img {
        margin-bottom: 2%;
        max-width: 15%;
        height: auto;
    }

    #game {
        padding-top: 2%;
    }

    #gamecontrol {
        padding-top: 2%;
    }

    #actions {
        padding-top: 2%;
    }

    button {
        font-size: 2em;
    }

}
